html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/  /* para nao ter scroll na tela */
    position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 87px;
  padding: 0 20px;
  background-color: #13062E;
  box-sizing: border-box;
}

.imagem_cabecalho img {
  width: 40px;
  height: auto;
  display: block;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-link {
    color: white;
    font-weight: 500;
    transition: color 300ms;
}

.nav-link:hover {
    color: #0450b3;
}

/* --- Grupo de Navegação Esquerda --- */
.nav-group-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.separator {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1; /* Garante alinhamento vertical */
    padding: 0 0.25rem; /* Pequeno espaço para não colar */
}

.usuario-link {
    cursor: default;
}

.usuario-link:hover{
    background-color: transparent;
    color: white;
}

/* --- Dropdown --- */
.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.dropdown-btn:hover {
    color: #a3afc7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c0b3d;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #2563eb;
}

.show {
    display: block;
}

.separator {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1; /* Garante alinhamento vertical */
    padding: 0 0.25rem; /* Pequeno espaço para não colar */
}

/* Ajuste geral para ícones na navegação */
.nav-menu img {
    vertical-align: middle; /* Alinha melhor as imagens com o texto */
}

.nav-link, .usuario-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.icone_usuario img {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.icone_sair img {
    margin-right: 25px;
}

.nomeUsuario {
  color: #fff;
  font-size: 24px;
  margin: 0; /* remove espaço extra do <p> */
  white-space: nowrap; /* evita quebrar nome em 2 linhas */
  margin-right: 24px;
}
                  /*Container Cadastrar Familiares */
.container_primario {
    width: auto;
    max-height: 147px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.container_primario  img {
    max-width: 120px;
    max-height: 147px;
}

.container_primario  h1 {
    color: #250d48;
    font-size: 35px;
    font-weight: bold;
}

.obrigatorio {
    color: red;
    margin-left: 4px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

.container_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

            /*Campo Nome*/ 
.campo_nome {
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.campo_nome label {
    font-size: 20px;
}

.campo_nome input {
    max-width: 453px;
    height: 25px;
    border-color: #D9D9D9;
    border-radius: 5px;
}

            /*Campo CPF*/ 
.campo_cpf {
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.campo_cpf label {
    font-size: 20px;
}

.campo_cpf input {
    max-width: 453px;
    height: 25px;
    border-color: #D9D9D9;
    border-radius: 5px;
}

.campo_tipo_usuario {
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.campo_tipo_usuario label {
    font-size: 20px;
}

.campo_tipo_usuario select {
    width: 190px;   /* igual ao input */
    height: 35px;   /* igual ao input */
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 0 5px;  /* igual ao input */
    background-color: #fff; /
}

.botao {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botao_adicionar {
    background-color: #13062E;
    color: #fff;
    font-weight: bold;
    width: 92px;
    height: 32px;
    border-radius: 8px;
}

.botao_cancelar {
    background-color: #D9D9D9;
    color: #000;
    font-weight: bold;
    width: 92px;
    height: 32px;
    border-radius: 8px;
}

                /*Mensagem de informação */
.informacao {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}

.informacao img {
    width: 30px;
    vertical-align: middle; 
}

.informacao p {
    font-size: 20px;
    font-weight: bold;
}

                 /*Tabela*/ 
.tabela {
    width: 1450px;
    max-height: 55px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
}

.cabeçalho_tabela th {
    background-color: #F0F0F0;
    color: #000;
    text-align: left;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tabela, th, td {
    border: 1px solid #000; /* borda preta */
    border-collapse: collapse; /* une as bordas duplas */
}

.tbody td {
     padding: 10px;
}

                            /*footer*/
.rodape {
  background-color: #13062E;
  width:auto;
  height: auto;
  display: flex;
  align-items: center;   /* alinha os cards pelo topo */
  gap: 40px;                 /* espaço entre os cards */
  padding: 10px;
}

.imagem_rodape img {
  width: 293.26px;
  height: 55px;
  margin-left: 64px;
  margin-top: 34px;
}

.dados_rodape {
  color: #fff;
  display: flex;
  margin-top: 10px; 
  gap: 200px;

}
.email_rodape {
  margin-left: 170px;
  font-size: 20px;
}

.localizacao_rodape {
  font-size: 20px;
  font-weight: bold;
}