html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/  /* para nao ter scroll na tela */
    position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 87px;
  padding: 0 20px;
  background-color: #13062E;
  box-sizing: border-box;
}

.imagem_cabecalho img {
  width: 40px;
  height: auto;
  display: block;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-link {
    color: white;
    font-weight: 500;
    transition: color 300ms;
}

.nav-link:hover {
    color: #0450b3;
}

/* --- Grupo de Navegação Esquerda --- */
.nav-group-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.separator {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1; /* Garante alinhamento vertical */
    padding: 0 0.25rem; /* Pequeno espaço para não colar */
}

.usuario-link {
    cursor: default;
}

.usuario-link:hover{
    background-color: transparent;
    color: white;
}

/* --- Dropdown --- */
.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.dropdown-btn:hover {
    color: #a3afc7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c0b3d;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #2563eb;
}

.show {
    display: block;
}

.separator {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1; /* Garante alinhamento vertical */
    padding: 0 0.25rem; /* Pequeno espaço para não colar */
}

/* Ajuste geral para ícones na navegação */
.nav-menu img {
    vertical-align: middle; /* Alinha melhor as imagens com o texto */
}

.nav-link, .usuario-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.icone_usuario img {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.icone_sair img {
    margin-right: 25px;
}

.nomeUsuario {
  color: #fff;
  font-size: 24px;
  margin: 0; /* remove espaço extra do <p> */
  white-space: nowrap; /* evita quebrar nome em 2 linhas */
  margin-right: 24px;
}

.containers {
  display: flex;
  justify-content: center;   /* centraliza tudo no meio */
  align-items: flex-start;   /* alinha os cards pelo topo */
  gap: 40px;                 /* espaço entre os cards */
  margin-top: 5px;          /* afastar do topo, se quiser */
}

                          /* Container cadastrar morador*/
.container_cadastrar_morador {
  display: flex;
  margin-left: 35px;
  margin-top: 68px;
}

.card_acesso {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_morador {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_morador h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_morador img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_morador a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 30px;
}

                          /* Container acessos*/
.container_cadastrar_acessos {
  display: flex;
  margin-left: 35px;
  margin-top: 68px;
}

.card_acessos {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_acessos {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_acessos h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_acessos img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_acessos a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 30px;
}

                     /* Container embaixo*/
.containers_embaixo {
  display: flex;
  justify-content: center;   /* centraliza tudo no meio */
  align-items: flex-start;   /* alinha os cards pelo topo */
  gap: 40px;                 /* espaço entre os cards */
  margin-top: 5px;          /* afastar do topo, se quiser */
  margin-bottom: 50px;
}

                            /* Container familiares*/
.container_familiares {
  display: flex;
  margin-left: 35px;
  margin-top: 68px;
}

.card_acesso {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_familiares {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_familiares h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_familiares img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_familiares a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 30px;
}

                              /*Container salao de festas*/

.container_salao_festas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
}

.card_festas {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_visitantes {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_visitantes h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_visitantes img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_visitantes a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

                             /*Container churrasqueira*/
.containers_embaixo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
}

.card_churrasqueira {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_visitantesChurrasqueira {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_visitantesChurrasqueira h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_visitantesChurrasqueira img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_visitantesChurrasqueira a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

                             /*footer*/
.rodape {
  background-color: #13062E;
  width:auto;
  height: auto;
  display: flex;
  align-items: center;   /* alinha os cards pelo topo */
  gap: 40px;                 /* espaço entre os cards */
  padding: 10px;
}

.imagem_rodape img {
  width: 293.26px;
  height: 55px;
  margin-left: 64px;
  margin-top: 34px;
}

.dados_rodape {
  color: #fff;
  display: flex;
  margin-top: 10px; 
  gap: 200px;

}
.email_rodape {
  margin-left: 170px;
  font-size: 20px;
}

.localizacao_rodape {
  font-size: 20px;
  font-weight: bold;
}
