html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/  /* para nao ter scroll na tela */
    position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 87px;
  padding: 0 20px;
  background-color: #13062E;
  box-sizing: border-box;
}

.imagem_cabecalho img {
  width: 40px;
  height: auto;
  display: block;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.icone_usuario img {
  width: 25px;
  height: auto;
  cursor: pointer;
}

.icone_sair img {
    margin-right: 25px;
}

.nomeUsuario {
  color: #fff;
  font-size: 24px;
  margin: 0; /* remove espaço extra do <p> */
  white-space: nowrap; /* evita quebrar nome em 2 linhas */
  margin-right: 24px;
}

.containerSejaBemVindo {
    background-color: #250D48;
    width: 1310px;
    height: 293px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    flex-direction: row;
    border-radius: 20px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.containerImagem {
    margin-left: 50px;
}

.containerTexto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerTexto h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.containerTexto p {
    margin: 0;
    font-size: 26px;
    line-height: 1;
}

  .containers {
  display: flex;
  justify-content: center;   /* centraliza tudo no meio */
  align-items: flex-start;   /* alinha os cards pelo topo */
  gap: 40px;                 /* espaço entre os cards */
  margin-top: 50px;          /* afastar do topo, se quiser */
}

                            /* Container familiares*/
.container_familiares {
  display: flex;
  margin-left: 94px;
  margin-top: 68px;
}

.card_acesso {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_familiares {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_familiares h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_familiares img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_familiares a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 30px;
}

                              /*Container salao de festas*/

.container_salao_festas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
}

.card_festas {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_visitantes {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_visitantes h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_visitantes img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_visitantes a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

                             /*Container churrasqueira*/
.container_churrasqueira {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 68px;
}

.card_churrasqueira {
  width: 325px;
  height: 275px;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
}

.cadastrar_visitantesChurrasqueira {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  text-align: center;
}

.cadastrar_visitantesChurrasqueira h2 {
  color: #1C0945;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.cadastrar_visitantesChurrasqueira img {
  max-height: 170px;
  object-fit: contain;
}

.cadastrar_visitantesChurrasqueira a {
  background-color: #1C0945;
  border-radius: 24px;
  border-color: #1C0945;
  color: #fff;
  width: 267px;
  padding: 15px 0px; 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

                             /*footer*/
.rodape {
  background-color: #13062E;
  width:auto;
  max-height: 138px;
  display: flex;
  align-items: flex-start;   /* alinha os cards pelo topo */
  gap: 40px;                 /* espaço entre os cards */
  margin-top: 50px;
}

.imagem_rodape img {
  width: 293.26px;
  height: 55px;
}
