* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/  /* para nao ter scroll na tela */
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 87px;
    padding: 0 20px;
    background-color: #13062E;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container main {
    flex: 1;
    align-content: center;
    padding-left: 20px;
}
.calendar {
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.calendar-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5%;
    background: #FFF;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    text-align: center;
    padding: 5px;
    color: #999FA6;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.botao_reservar {
    height: 42px;
    background-color: #250D48;
    color: white;
    size: 30px;
    cursor: pointer;
}

.popup {
  display: none; /* oculto por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-conteudo {
  background: white;
  padding: 25px 35px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.popup .botoes-popup {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.popup button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#confirmarReserva {
  background-color: #13062E;
  color: white;
}

#cancelarReserva {
  background-color: #ccc;
}

/* Container principal dos status */
.status-container {
    padding: 10px 0; 
}

/* Estilo genérico para cada item de status */
.status-item {
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
    font-size: 18px; 
}

.status-reservado-disponivel img {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.status-indisponivel img {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.selected {
    background: blue;
    color: #FFF;
}

.today {
    border: 1px solid orange;
}

.date:hover {
    background: blue;
    color: #FFF;
}

.date.inactive {
    color: #D2D2D2;
}

.date.inactive:hover {
    color: #FFF;
}
