.imagem_cabecalho img {
    width: 40px;
    height: auto;
    display: block;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-group-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.dropdown-btn:hover {
    color: #a3afc7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1c0b3d;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #2563eb;
}

.show {
    display: block;
}

.separator {
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1; /* Garante alinhamento vertical */
    padding: 0 0.25rem; /* Pequeno espaço para não colar */
}

.usuario {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.icone_usuario img {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.nomeUsuario {
    color: #fff;
    font-size: 24px;
    margin: 0; /* remove espaço extra do <p> */
    white-space: nowrap; /* evita quebrar nome em 2 linhas */
    margin-right: 24px;
}

.icone_sair img {
    margin-right: 25px;
}
