html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 87px;
    background-color: #13062E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.imagem_cabecalho img {
  width: 40px;
  height: auto;
}

nav a {
    color: #ffff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

.plano_de_fundo {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13062E;
}

.fundo_estrelas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir toda a área sem distorcer */
}

.fundo_predios {
     position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; /* Permite que a altura se ajuste para manter a proporção */
    object-fit: contain; /* Garante que a imagem inteira seja visível */
}

.formulario {
    box-sizing: border-box;
    width: 484px;
    height: auto;
    padding: 20px;
    background-color: #ffff;
    border-radius: 24px;
    transform: translateY(-90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Essencial para que o z-index funcione */
    z-index: 1; /* Adiciona uma camada acima das imagens */
}

.formulario img {
    display: block;
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.formulario_login_senha {
    display: flex;
    flex-direction: column;
    width: 388px;
    height: 70px;
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
}

.formulario_login_senha label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario_login_senha input {
    width: 388px;
    height: 40px;
    border-radius: 6px;
    border-color: #D9D9D9;
    outline: none;
    box-shadow: none;
    font-family: "Roboto", sans-serif;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.formulario_botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.formulario_botao_acessar {
    width: 388px;
    height: 48px;
    border-radius: 24px;
    margin-bottom: 12px;
    background-color: #13062E;
    color: #fff;
    font-weight: bold;
    border-color: #13062E;
}

.formulario_botao_esqueci {
    width: 388px;
    height: 48px;
    border-radius: 24px;
    margin-bottom: 12px;
    background-color: #fff;
    border-color: #D9D9D9;
    color: #052B53;
    font-weight: bold;
}