<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar convidados Churrasqueira</title>
    <link rel="stylesheet" href="/static/css/cad_con_churrasqueira.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>

        {% if session.get('usuario_admin') == 'sim' %}
        <div class="imagem_cabecalho">
        <a href="{{ url_for('pagina_admin') }}"><img src="/static/imagens/logo_header.png" alt="Logo da empresa Condo Secure" ></a>
        </div>
        {% else %}
        <div class="imagem_cabecalho">
        <a href="{{ url_for('pagina_inicial') }}"><img src="/static/imagens/logo_header.png" alt="Logo da empresa Condo Secure" ></a>
        </div>
        {% endif %}

        <nav class="nav-menu">
            <div class="nav-group-left">
                <div class="dropdown">
                    <button class="dropdown-btn">
                        <img src="/static/imagens/icone_calendario.png" alt="Ícone de Calendário">
                        <span>Agendamentos</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('cadastrar_familiares') }}">Cadastrar Familiares</a>   
                        <a href="{{ url_for('CadEventoSalao') }}">Salão de Festas</a>  
                        <a href="{{ url_for('cadEventoChurras') }}">churrasqueira</a>                        
                    </div>
                </div>
            </div>
            
        <span class="separator">/</span>

        <div class="usuario">
            <div class="icone_usuario">
                <img src="/static/imagens/icone_usuario.png" alt="Ícone de Usuário">
            </div>
            <p class="nomeUsuario">{{ nome|title if nome else 'Visitante'}}</p>
            <div class="icone_sair">
                <a href="{{ url_for('logout') }}" title="Sair">
                    <img src="/static/imagens/icone_sair.png" alt="Ícone para sair da Página">
                </a>
            </div>
         </div>

    </header>
    <main>
        <div class="container_primario">
            <img src="/static/imagens/icone_churrasqueira.png" alt="Ícone representando uma churrasqueira">
            <h1>Churrasqueira / Cadastrar Convidados</h1>
        </div>
        <form method="POST" action="{{ url_for('adicionarVisitanteChurras', id=evento['id']) }}">
        <div class="container_inputs">
            <div class="campo_nome">
                <label for="nome">
                    <span class="obrigatorio">*</span> Nome completo
                </label>
                <input type="text" name="nome" required>
            </div>

            <div class="campo_cpf">
                <label for="cpf">
                    <span class="obrigatorio">*</span> CPF
                </label>
                <input type="number" name="cpf" required>
            </div>

            <div class="botao">
                <button type="submit" class="botao_adicionar">Adicionar</button>
                <button class="botao_cancelar">Cancelar</button>
            </div>
        </form>
        </div>

        <div class="bloco-tabela">
            <div class="informacao">
                <p> 
                <img src="/static/imagens/icone_informacao.png" alt="Ícone de informação">
                Visualize a lista de visitantes abaixo, edite, exclua ou cadastre um novo visitante.
                </p>
            </div>

            <table class="tabela">
                <thead class="cabeçalho_tabela">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>                        
                        <th>Apartamento</th>                        
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                        {% for convidado in convidados %}
                        <tr>
                            <td>{{ convidado.nome }}</td>
                            <td>{{ convidado.cpf }}</td>
                            <td>{{ convidado.apartamento }}</td>
                            <td>
                                <form action="{{ url_for('deleteConvidadoChurras', id=convidado['id_visitante']) }}" method="POST" 
                                onsubmit="return confirm('Tem certeza que deseja excluir esse convidado?')">
                                <button type="submit" class="btn-excluir" style="background: none; border: none; cursor: pointer;">
                                <img src="/static/imagens/lixeira.png" alt="Excluir convidado">
                                </button>
                                </form>
                     
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </main>

     <footer>

        <div class="rodape">
            <div class="imagem_rodape">
                <img src="/static/imagens/logo_rodape.png" alt="Logo da empresa Condo Secure" >
            </div>

            <div class="dados_rodape">
                <div class="email_rodape">
                    <h3>Email</h3>
                    <p>grupopiunivespsala6grupo7@gmail.com</p>
                </div>
                <div class="localizacao_rodape">
                    <p>Localização</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1139.5589665586933!2d-46.66968980722495!3d-23.493745474903747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef78887c5c665%3A0x4b758544ce147597!2sRua%20Jos%C3%A9%20Soriano%20de%20Sousa%2C%20292%20-%20Casa%20Verde%20Alta%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002555-050!5e1!3m2!1spt-BR!2sbr!4v1758844960400!5m2!1spt-BR!2sbr" width="auto" height="80" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

    </footer>

    <script>
        // Pega o botão e o conteúdo do dropdown
        const dropdownBtn = document.querySelector('.dropdown-btn');
        const dropdownContent = document.querySelector('.dropdown-content');

        // Adiciona um "escutador de evento" que espera por um clique no botão
        dropdownBtn.addEventListener('click', function() {
          // A cada clique, ele adiciona ou remove a classe 'show' do conteúdo
          dropdownContent.classList.toggle('show');
        });

        // Opcional: Fecha o dropdown se o usuário clicar fora dele
        window.addEventListener('click', function(event) {
          // Verifica se o clique NÃO foi no botão
          if (!dropdownBtn.contains(event.target)) {
            // Se o menu estiver aberto, fecha ele
            if (dropdownContent.classList.contains('show')) {
              dropdownContent.classList.remove('show');
            }
          }
        });
    </script>

</body>
</html>