<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Acessos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/p_acessos.css">

</head>
<body>

    <header>
        <div class="imagem_cabecalho">
            <a href="{{ url_for('pagina_inicial') }}"><img src="/static/imagens/logo_header.png" alt="Logo da empresa Condo Secure" ></a>
        </div>
        <nav class="navegacao-menu">
            <div class="navegacao-grupo-esquerda">
                <div class="menu-suspenso">
                    <button class="botao-menu-suspenso">
                        <img src="/static/imagens/icone_calendario.png" alt="Ícone de Calendário">
                        <span>Agendamentos</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="conteudo-menu-suspenso">
                        <a href="{{ url_for('cadastrar_familiares') }}">Cadastrar Familiares</a>   
                        <a href="{{ url_for('salaoDeFestas') }}">Salão de Festas</a>  
                        <a href="{{ url_for('churrasqueira') }}">churrasqueira</a>
                    </div>
                </div>
                <span class="separador">/</span>
                <span class="link-navegacao link-usuario">
                    <img src="/static/imagens/icone_usuario.png" alt="Ícone do usuário">
                    {{ nome|title if nome else 'Visitante'}}
                </span>
            </div>
            <a href="#" class="link-navegacao">
                <img src="/static/imagens/icone_sair.png" alt="Ícone de Sair">
            </a>
        </nav>
    </header>
    
    <main>
        <div class="titulo-principal">
           <img src="/static/imagens/icone_acessos.png" alt="Icone de acessos">
           <h1>Acessos</h1>
        </div>

        <div class="container-filtros">
            <div class="grupo-formulario">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Digite aqui...">
            </div>
            <div class="grupo-formulario">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" placeholder="Digite aqui...">
            </div>
            <div class="grupo-formulario">
                <label for="categoria">Categoria</label>
                <select id="categoria" name="categoria">
                    <option value="">Selecionar...</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Morador">Morador</option>
                    <option value="Visitante">Visitante</option>
                </select>
            </div>
            <div class="botoes-filtro">
                <button class="btn btn-filtrar">
                   <img src="/static/imagens/icon_acesso_filtro.png" alt=""> 
                    Filtrar
                </button>
                <button class="btn btn-limpar">
                   <img src="/static/imagens/icon_acesso_limpa.png" alt="">
                    Limpar
                </button>
            </div>
        </div>

        <div class="informacao">
            <p> 
            <img src="/static/imagens/icone_informacao.png" alt="Ícone de informação">
            Visualize a lista de visitantes abaixo, edite, exclua ou cadastre um novo visitante.
            </p>
        </div>

        <table class="tabela-acessos">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>E-mail</th>
                    <th>Apartamento</th>
                    <th>Tipo de Usuário</th>
                    <th>Evento</th>
                    <th>Data do Evento</th>
                    <th>Ações</th>
                </tr>
            </thead>
              
        </table>
    </main>
    
    <footer class="footer">
       <div class="rodape">
            <div class="imagem_rodape">
                <img src="/static/imagens/logo_rodape.png" alt="Logo da empresa Condo Secure" >
            </div>

            <div class="dados_rodape">
                <div class="email_rodape">
                    <h3>Email</h3>
                    <p>email@univesp.com.br</p>
                </div>
                <div class="localizacao_rodape">
                    <p>Localização</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1139.5589665586933!2d-46.66968980722495!3d-23.493745474903747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef78887c5c665%3A0x4b758544ce147597!2sRua%20Jos%C3%A9%20Soriano%20de%20Sousa%2C%20292%20-%20Casa%20Verde%20Alta%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2002555-050!5e1!3m2!1spt-BR!2sbr!4v1758844960400!5m2!1spt-BR!2sbr" width="auto" height="80" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </footer>

    <script>
        const botaoMenu = document.querySelector('.botao-menu-suspenso');
        const conteudoMenu = document.querySelector('.conteudo-menu-suspenso');

        botaoMenu.addEventListener('click', function() {
            conteudoMenu.classList.toggle('mostrar');
        });

        window.addEventListener('click', function(event) {
            if (!botaoMenu.contains(event.target)) {
                if (conteudoMenu.classList.contains('mostrar')) {
                    conteudoMenu.classList.remove('mostrar');
                }
            }
        });
    </script>

</body>
</html>